{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Empty div -->

        <div class="col-md-4 phone-section">
        </div>



        <div class="col-md-4 form-section">
            {{form.media}}

            {% if form.errors %}
            <p>Please enter correct value</p>
            {% endif %}

            <div class="panel panel-default" style="margin-top:150px;">

                <div class="panel-body">

                    <div class="text-center">
                        <h3>Create your profile</h3>
                        <form action="{% url 'create-profile' %}" method="post" enctype="multipart/form-data">

                            {% csrf_token%}
                            {% bootstrap_form form %}

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary login-button" value="Post">

                            </div>
                            <input type="hidden" name="next" value="/">

                        </form>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-4"></div>
    </div>

</div>
{% endblock %}