{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block styles%}
{% bootstrap_css %}

<!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
{%endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid" text-align="center">
    <div class="container">
        <h3 class="display-4">Location milk collection Updates</h3>

        {% if all_location %}
        {% for location in all_location %}


        <p
            style="font-size:14px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight:bold;">
            Address : {{ location.address }}</p>
        <p
            style="font-size:14px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight:bold;">
            From : {{ location.name }}</p>

        <p
            style="font-size:14px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight:bold;">
            Priority : {{ location.locations }}</p>
        <p
            style="font-size:14px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight:bold;">
            Milk collection time : {{ location.description }}</p>
    </div>
</div>
{%endfor %}
{%endif%}
<hr>
<button onclick="window.print()">Save</button>



<hr>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.1.3/circle-progress.min.js"></script>

{% endblock %}