{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container" style="margin-top:15px;">
    <div class="text-center">
        <a href="{% url 'notifications' %}">
            <button class="btn btn-primary" style="height:50px;  margin-top: -6px;margin-bottom:10px;">Post
                Notification</button>
        </a>
    </div>

    <table class="table table-info">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Notification</th>
                <th scope="col">Priority</th>
                <th scope="col">Posted by</th>
                <th scope="col">Date </th>
            </tr>
        </thead>
        <hr>
        <tbody>
            {% for all_notification in all_notifications%}
            <tr data-toggle="modal" data-target="#{{notification.id}}">
                <td>{{notification.title}}</td>
                <td>{{notification.notification|safe|truncatechars:85 }}</td>
                <td>{{notification.priority}}</td>
                <td>{{notification.author}}</td>
                <td>{{notification.post_date|date:"M d, Y"}}</td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="{{notification.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header text-center">
                            <h3 class="text-center">{{notification.title}}</h3>
                        </div>
                        <div class="modal-body">
                            <p class="pmodal">{{notification.notification|safe}}</p>
                        </div>
                        <div class="modal-footer" style="display:block;">
                            <p><span style="font-weight:bold;">Priority:</span> {{notification.priority}}</p>
                            <p><span style="font-weight:bold;">Posted on:</span>
                                {{notification.post_date|date:"M d, Y"}}</p>
                        </div>
                    </div>
                </div>
            </div>





            {% endfor%}
        </tbody>
    </table>
</div>

{% endblock %}